body {
  margin: 0;
  box-sizing: border-box;
  background-color: #71839b;
}
section {
  display: flex;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 24px;
  background-color: #596979;
}
/* for navigation */
.logo {
  font-size: 18px;
  font-weight: bold;
}
.nav-link {
  color: #ffffff;
  padding: 0 16px;
  font-size: 14px;
}

.hero {
  justify-content: center;
  height: 30vh;
  align-items: center;
  background-image: url('https://i.redd.it/ghwxobltryy81.jpg');
  background-size: cover;
  color: rgb(0, 255, 255, 0.5);
  font-size: 100px;
}
.contents {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  background-color: #e5e5ff;
  column-gap: 16px;
  row-gap: 16px;
  height: 200px;
}
.item {
  background-color: blue;
}
